{{define "title"}}Change Password{{end}}

{{define "main"}}
<form action="/account/password/update" method="POST" novalidate>
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

  <div>
    <label>Current Password:</label>
    {{with .Form.FieldErrors.currentPassword}}
      <label class="error">{{.}}</label>    
    {{end}}
    <input type="text" name="currentPassword">
  </div>

  <div>
    <label>New Password:</label>
    {{with .Form.FieldErrors.newPassword}}
      <label class="error">{{.}}</label>    
    {{end}}
    <input type="text" name="newPassword">
  </div>

  <div>
    <label>New Password Confirmation</label>
    {{with .Form.FieldErrors.newPasswordConfirmation}}
      <label class="error">{{.}}</label>    
    {{end}}
    <input type="text" name="newPasswordConfirmation">
  </div>

  <div>
    <input type="submit" value="Update password">
  </div>
</form>
{{end}}
